@media (max-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (max-width: 992px) {
    .container {
    width: 968px;
  }
}
@media (max-width: 1200px) {
     .container {
    width: 1140px;
  }
}

body {
  background: #DAC6B5;
  color: #7A5A3E;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #7A5A3E;
  font-weight: 600;
  font-size: 16px;
}

h1 {
  color: #7A5A3E;
  font-size: 32px;
  font-weight: 900;
}

h2 {
  color: #7A5A3E;
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
}

li {
  padding: 0px 20px;
  list-style: none;
  display: inline;
}

ul {
  padding: 0px;
}

.container {
  width: 100%;
  margin: auto auto;
}

.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

img {
  width: 250px;
  border-radius: 10%;
}
